.page-feature  {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature {
  display: block;

    &__item {
    width: 100%;

      &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;  
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-title-text-colour);
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__logo {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--fourth-bg-colour);
    margin-bottom: 30px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .feature__item {
    width: calc((100% - 30px) / 2);

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  .feature__title {
    text-align: unset;
  }
}

@media screen and (min-width: 1200px) {
  .page-feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .feature__title {
    text-align: unset;
  }

  .feature {
    display: flex;
    flex-wrap: nowrap;

    & .feature__item {
      flex-basis: calc((100%-90px) / 4);
      margin-right: 30px;
    }

    & .feature__item:last-child {
      margin-right: 0px;
    }
  }
}