.page-header {
  position: relative;
  background-color: #ffffff;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger__btn,
.mobile-menu-close__btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-menu-close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger__icon {
  fill: var(--secondary-title-text-colour);
  transition: fill 250ms var(--timing-function);

  .burger__btn:hover & {
    fill: var(--accent-colour);
  }
}

.mobile-menu-close__icon {
  fill: var(--secondary-title-text-colour);
  transition: fill 250ms var(--timing-function);

  .mobile-menu-close__btn:hover & {
    fill: var(--accent-colour);
  }
}

.mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-bg-colour);
  transform: translateY(-100%);
  transition: transform 250ms var(--timing-function);
}

.is-open {
  transform: translateY(0);
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--secondary-title-text-colour);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact__list {
  margin-top: 301px;
}

.menu-contact__item:not(:last-child) {
  margin-bottom: 33px;
}

.menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-colour);
}

.menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-colour);
}

.menu-social__list {
  display: flex;
  margin-top: 64px;
}

.menu-social__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
    padding-right: 10px;
  }
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-colour);
}

.mobile-menu__link--current {
  color: var(--accent-colour);
}


@media screen and (min-width: 768px) {
  .burger__btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .page-header .container {
    display: flex;
    
  }

  .contact {
    display: none;
  }
  .mobile-menu__link--current {
    color: var(--accent-colour);
  }
}

@media screen and (min-width: 768px) {
  .burger__btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
  .page-header .container {
    display: flex;
    // align-items: center;
  }

  .navigation {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      position: relative;
    }
    .navigation__item:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigation__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-title-text-colour);
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus,
    &:active {
      color: var(--accent-colour);
    }

    .navigation__link--current {
      color: var(--accent-colour);
    }

    .navigation__link--current::after {
      content: "";
      bottom: -1px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-colour);
    }
  } 

  .contact {
    display: block;
    margin-left: auto;

    &__link {
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      color: var(--primary-text-colour);
      padding-top: 5px;
      padding-bottom: 5px;
      display: inline-block;

      fill: currentcolor;
      transition: color 250ms var(--timing-function);

      &:hover,
      &:focus {
        color: var(--accent-colour);
      }
    }

    &__icon {
      margin-right: 10px;
      transition: fill 250ms var(--timing-function);

      .contact__link:hover &,
      .contact__link:focus & {
        fill: var(--accent-colour);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      display: flex;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.navigation__link--current {
  color: var(--accent-colour);
}

.navigation__link--current::after {
  content: "";
  bottom: -1px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-colour);
}

//   .navigation__list {
//     display: none;
//   }
// .page-header .container {
//   display: flex;
//   align-items: center;
// }
// .navigation {
//   display: flex;
//   align-items: center;
// }
// .navigation__list {
//   display: flex;
//   align-items: center;
//   margin-left: auto;
// }
// .navigation__item:not(:last-child) {
//   margin-right: 50px;
// }

// .navigation__contact {
//   font-family: var(--main-font);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--primary-text-colour);
//   padding-top: 32px;
//   padding-bottom: 32px;
//   display: inline-block;
// }
// .navigation__link {
//   font-family: var(--main-font);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--secondary-title-text-colour);
//   padding-top: 32px;
//   padding-bottom: 32px;
//   display: inline-block;
//   transition: color 250ms var(--timing-function);
// }
// .navigation__link:hover,
// .navigation__link:focus,
// .navigation__link:active {
//   color: var(--accent-colour);
// }
// .navigation__contact:hover,
// .navigation__contact:focus,
// .navigation__contact:active {
//   color: var(--accent-colour);
// }
// .navigation__link--current {
//   color: var(--accent-colour);
// }
// .navigation__contact {
//   display: flex;
//   align-items: center;
//   fill: currentcolor;
//   transition: color 250ms var(--timing-function);
// }
// .navigation__icon {
//   margin-right: 10px;
//   transition: fill 250ms var(--timing-function);
// }
// .navigation__contact:hover .navigation_icon,
// .navigation__contact:focus .navigation_icon {
//   fill: var(--accent-colour);
// }
// .navigation__item {
//   position: relative;
// }
// .navigation__link--current::after {
//   content: "";
//   bottom: 0;
//   left: 0;
//   position: absolute;
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;
//   background-color: var(--accent-colour);
// }